<!DOCTYPE html>
<html>
<head>
    <title>Welcome</title>
    <!-- Link to your index styles (index.css) -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>
    <div class ="center">
        <h1>
            <span>W</span>
            <span>e</span>
            <span>a</span>
            <span>l</span>
            <span>t</span>
            <span>h</span>
            <span>W</span>
            <span>a</span>
            <span>v</span>
            <span>e</span>
        </h1>
    </div>
    <h2>Spend -> ScanBills Effortlessly -> Track Expenses -> Predict Expenses -> Be safe Financially </h2> 
    <h4 >You're just one click away from starting a financial journey with WealthWave</h4>
    <div class = "centerr"> <a href="/signin">SignIn/SignUp</a> </div>
</body>
</html>
