<!DOCTYPE html>
{% extends 'base.html' %}

{% block title %}Scan Bill{% endblock %}

{% block content %}
    <h1>Upload Bills Page</h1>
    <h3>Your UserID is {{ user_id }}</h3>

    <div id="pageContainer">
        <!-- Left side form container -->
        <div id="formContainer">
            <!-- Your form elements here -->
            <!-- Form for File Upload -->
            <form id="uploadForm" method="post" enctype="multipart/form-data">
                <!-- Upload Bill Image Button -->
                <input type="file" id="billImageUpload" name="file" accept="image/*">
            </form>  

            <!-- Combined Upload and Autofill Button -->
            <button type="button" id="uploadAutofillBtn" disabled>Upload & Autofill</button>  

            <hr class="section-separator"> <!-- Separator -->

            <!-- Text Fields -->
            <div>
                <label for="date">Date:</label>
                <input type="date" id="date" name="date">
            </div>
            <div>
                <label for="totalAmount">Total Amount:</label>
                <input type="number" id="totalAmount" name="totalAmount" step="0.01">
            </div>
            <div>
                <label for="category">Category:</label>
                <select id="category" name="category">
                    <option value="" selected>Select category</option>
                    <option value="groceries/food">Groceries/Food</option>
                    <option value="dining">Dining</option>
                    <option value="utilities">Utilities</option>
                    <option value="housing">Housing</option>
                    <option value="transportation">Transportation</option>
                    <option value="healthcare">Healthcare</option>
                    <option value="entertainment">Entertainment</option>
                    <option value="clothing">Clothing</option>
                    <option value="education">Education</option>
                    <option value="alcohol/beverages">Alcohol/Beverages</option>
                    <option value="travel">Travel</option>
                    <option value="miscellaneous">Miscellaneous</option>
                </select>             
            </div>

            <!-- Save Button -->
            <button id="saveBtn" disabled>Save</button>
            <button id="clearBtn">Clear</button>
        </div>

        <!-- Right side image container -->
        <div id="imageContainer">
            <!-- The image will go here -->
            <img id="selectedImage" src="" alt="Selected Image" style="display: none;"/>
        </div>

        <div id="statusContainer">
            <!-- Spinners and Tick -->
            <div id="uploadStatus">
                <span id="uploadingText" style="display: none;">Uploading Image...</span>
                <div id="uploadSpinner" style="display: none;">
                    <img src="{{ url_for('static', filename='css/images/loading.gif') }}" alt="Uploading...">
                </div>
                <div id="uploadedTick" style="display: none;">
                    <img src="{{ url_for('static', filename='css/images/tick.jpg') }}" alt="Uploaded">
                </div>
            </div>
            <div id="autofillStatus">
                <span id="autofillingText" style="display: none;">Autofilling Details...</span>
                <div id="autofillSpinner" style="display: none;">
                    <img src="{{ url_for('static', filename='css/images/loading.gif') }}" alt="Autofilling...">
                </div>
            </div>  
        </div>
    </div>

    <!-- JavaScript to Handle File Upload and Enable AutoFill -->
    <script>
        var uploadedFileKey = ''; // Variable to store the file key

        function checkFields() {
            var date = document.getElementById('date').value;
            var totalAmount = document.getElementById('totalAmount').value;
            var category = document.getElementById('category').value;

            var saveButton = document.getElementById('saveBtn');
            if (date && totalAmount && category) {
                saveButton.disabled = false; // Enable button if all fields are filled
            } else {
                saveButton.disabled = true;  // Disable button if any field is empty
            }
        }       

        document.addEventListener('DOMContentLoaded', function() {
            checkFields();
        });

        document.getElementById('date').addEventListener('change', checkFields);
        document.getElementById('totalAmount').addEventListener('input', checkFields);
        document.getElementById('category').addEventListener('change', checkFields);

        document.getElementById('clearBtn').addEventListener('click', function() {
        document.getElementById('date').value = '';
        document.getElementById('totalAmount').value = '';
        document.getElementById('category').value = '';
        // Reset any other fields you have
        checkFields();
        });

        document.getElementById('billImageUpload').addEventListener('change', function() {
            var fileInput = this;
            var uploadAutofillBtn = document.getElementById('uploadAutofillBtn');
            var selectedImage = document.getElementById('selectedImage');

            if (fileInput.files && fileInput.files[0]) {
                uploadAutofillBtn.disabled = false; // Enable the button

                var reader = new FileReader();
                reader.onload = function(e) {
                    selectedImage.src = e.target.result;
                    selectedImage.style.display = 'block'; // Show the image
                };
                reader.readAsDataURL(fileInput.files[0]); // Convert the image file to a data URL
            } else {
                uploadAutofillBtn.disabled = true; // Disable the button if no file is selected
                selectedImage.style.display = 'none'; // Hide the image
            }
        });

        document.getElementById('uploadAutofillBtn').addEventListener('click', function() {
            var fileInput = document.getElementById('billImageUpload');
            var uploadingText = document.getElementById('uploadingText');
            var uploadSpinner = document.getElementById('uploadSpinner');
            var uploadedTick = document.getElementById('uploadedTick');
            var autofillingText = document.getElementById('autofillingText');
            var autofillSpinner = document.getElementById('autofillSpinner');

            if (fileInput.files.length > 0) {
                uploadingText.style.display = 'block'; // Show uploading text
                uploadSpinner.style.display = 'block'; // Show upload spinner

                var formData = new FormData();
                formData.append('file', fileInput.files[0]);
                formData.append('user_id', '{{ user_id }}'); // Assuming user_id is available in your template

                fetch('/upload', {
                    method: 'POST',
                    body: formData
                })
                .then(response => response.json())
                .then(data => {
                    console.log(data);
                    if (data.message === 'File uploaded successfully') {
                        // When the upload is successful
                        uploadedFileKey = data.file_key;

                        // Hide upload spinner and show tick mark
                        uploadSpinner.style.display = 'none'; // Hide upload spinner
                        uploadedTick.style.display = 'block'; // Show uploaded tick

                        autofillingText.style.display = 'block'; // Show autofilling text
                        autofillSpinner.style.display = 'block'; // Show autofill spinner
                        
                        return fetch('/autofill', {
                            method: 'POST',
                            headers: {'Content-Type': 'application/json'},
                            body: JSON.stringify({ s3_file_key: uploadedFileKey })
                        });
                    } else {
                        throw new Error('File upload failed');
                    }
                })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Autofill failed');
                    }
                    return response.json();
                })
                .then(dataString => {
                    const data = JSON.parse(dataString);
                    console.log(data);
                    // Update fields with extracted data
                    if (data.date) {
                        document.getElementById('date').value = data.date;
                    }
                    if (data.total_amount) {
                        document.getElementById('totalAmount').value = data.total_amount;
                    }
                    if (data.category) {
                        document.getElementById('category').value = data.category.toLowerCase();
                    }

                    // After successful autofill
                    uploadingText.style.display = 'none'; // Hide uploading text
                    uploadedTick.style.display = 'none'; // Show uploaded tick
                    autofillSpinner.style.display = 'none'; // Hide autofill spinner
                    autofillingText.style.display = 'none'; // Hide autofilling text
                    checkFields();
                })
                .catch(error => {
                    console.error('Error:', error);
                    alert(error.message);
                    uploadSpinner.style.display = 'none'; // Hide upload spinner
                    uploadingText.style.display = 'none'; // Hide uploading text
                    uploadedTick.style.display = 'none'; // Show uploaded tick
                    autofillSpinner.style.display = 'none'; // Hide autofill spinner
                    autofillingText.style.display = 'none'; // Hide autofilling text
                });
            } else {
                alert('Please select a file to upload');
            }
        });

        document.getElementById('saveBtn').addEventListener('click', function() {
            // Retrieve data from form fields
            var userId = '{{ user_id }}'; // Use Jinja templating to inject user_id
            var date = document.getElementById('date').value;
            var totalAmount = document.getElementById('totalAmount').value;
            var category = document.getElementById('category').value;

            // Prepare data to send
            var dataToSave = {
                user_id: userId,
                timestamp: new Date().toISOString(), // Generate current timestamp
                date: date,
                totalAmount: totalAmount,
                category: category,
                uploadedFileKey: uploadedFileKey
            };

            fetch('/saveBillData', {  // Adjust the endpoint to match your Flask route
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(dataToSave)
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Problem with the response');
                }
                return response.json();
            })
            .then(data => {
                console.log(data);
                alert('Data saved successfully');
                window.location.href = '/home';  // Redirect to the home page
            })
            .catch(error => {
                console.error('Error:', error);
                alert('Failed to save data');
            });
        });

    </script>
{% endblock %}
